/* Add CSS styles here! */
body {
	background-color: whitesmoke;
}

.main {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.counter {
	padding: 1.3rem;
	font-size: 1.4rem;
	color: azure;
	background-color: blueviolet;
	border-radius: 0.4rem;
	margin-bottom: 20px;
}
